
.main{
    margin: 0 auto;
    max-width: 50%;
}
#shareer{
    margin-top:100px;    
}

.btn{
    margin-top: 10px;
}
body{
    background-image: url('../wp2566041.jpg');
    background-size: 100%;
}

#highlight{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: rgb(204,0,0);
}